#services,
#skills,
#projects,
#aboutme,
#contactmain {
  width: 70%;
  text-align: center;
  margin: 8em auto;
}

.h2Caption {
  font-size: 3.5em;
}

#skillmain {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

  .skill {
    margin-bottom: 15px;

    .skill-name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .skill-bar {
      background-color: #f0f0f0;
      height: 20px;
      border-radius: 10px;
      margin-bottom: 5px;

      .skill-level {
        height: 100%;
        border-radius: 10px;
        background-color: $plava;
        animation: btnScaleOut2 1s ease 0s 1 normal forwards;
      }
      .skill-level:hover{
        background-color: $ljubicasta;
        animation: btnScale2 1s ease 0s 1 normal forwards;
      }
    }
  }
}

/* Service styles */
.service {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: btnScaleOut 1s ease 0s 1 normal forwards;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 10px;
  }
  &:hover{
    animation: btnScale 1s ease 0s 1 normal forwards;
    box-shadow: 0px 0px 15px $ljubicasta;
  }
}

#projects-main {
  margin-top: 30px;
  padding-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projects-main h1 {
  font-family: 'Burbank';
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.prj-sajtovi {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sajt-prm {
  width: 48%;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;

  img {
    border-radius: 10px;
    box-shadow: 0px 0px 15px $ljubicasta;
    animation: btnScaleOut 1s ease 0s 1 normal forwards;
    width: 94%;
  }

  img:hover {
    animation: btnScale 1s ease 0s 1 normal forwards;
  }
}

.about-me {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    animation: btnScaleOut2 1s ease 0s 1 normal forwards;

    &:hover {
      box-shadow: 0 0 10px $ljubicasta;
      animation: btnScale2 1s ease 0s 1 normal forwards;
    }
  }

  h2,
  p {
    padding: 0.7%;
  }

  .about-me-details {
    text-align: center;
  }
  i{
    margin-right:3px;
  }
}

.contact-me {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 10px;
  }

  .contact-form {
    margin-top: 20px;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;

      &:focus {
        outline: $plava;
        border: 1px solid $plava;
        box-shadow: 0 0 8px $plava;
      }
    }
    textarea{
        height: 100px;
        resize: none;
    }
    button {
      background-color: $plava;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover{
      box-shadow: 0 0 8px $ljubicasta;
    }
  }
}